<div class="p-3">
  <h3 class="text-stone-700 text-md font-semibold">Roles Manager</h3>
  <div class="flex flex-col sm:flex-row sm:justify-between gap-2 mb-2">
    <div class="w-full sm:w-[80%]">
      <input
        type="search"
        placeholder="Search by name..."
        class="px-3 py-2 rounded-md w-full border border-gray-300 focus:border-emerald-800 focus:outline-none focus:ring"
      />
    </div>
    <div class="w-full sm:w-auto">
      <app-new-role-btn></app-new-role-btn>
    </div>
  </div>
  <app-role-grid></app-role-grid>
</div>
